.hearts{
    position:absolute;
    width:100%;
    height:100%;
    overflow:hidden;
    pointer-events:none;
}

.hearts span{
    position:absolute;
    bottom:-100px;

    color:rgba(255,255,255,.75);

    font-size:26px;

    animation:float 12s linear infinite;

    filter:drop-shadow(0 0 10px rgba(255,255,255,.8));
}