.message{
    font-family:'Pacifico',cursive;
    font-size:2.8rem;
    font-weight:500;
    line-height:1.25;

    color:#ff709f;

    min-height:240px;

    opacity:0;
    transform:translateY(30px);

    transition:all 1.3s ease;

    text-shadow:0 4px 10px rgba(255,170,195,.3);
}

.message.show{
    opacity:1;
    transform:translateY(0);
}

.final{
    color:#ff4f81;
}