.music-btn{
    position:fixed;
    top:20px;
    left:20px;

    width:70px;
    height:70px;

    border:none;
    background:transparent;

    cursor:pointer;

    z-index:9999;

    transition:.3s ease;
}

.music-btn img{
    width:42px;
    height:42px;
    object-fit:contain;
    pointer-events:none;
}

.music-btn:hover{
    transform:scale(1.08);
}

.music-btn.active img{
    animation:musicFloat 2s ease-in-out infinite;
}